@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

    --color-primary:#1A202C; /* Negro suave */
    --color-secundary: #38B2AC ; /* Verde menta    */
    --color-neutro: #F7FAFC; /* Gris claro   */
    --color-accent: #F97316 ; /* Naranja vibrante */
    --color-trans: #FFFFFF4D ; /* transparencia */


    
}


*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

#root{
height: auto;
}


